:root {
  /* ======Colors======= */
  --body-color: #e4e9f7;


  --sidebar-color: #fff;
  /* --sidebar-color: #19a19a; */
  --primary-color: #695cfe;
  --background-color: #444;


  --primary-color-light: #f6f5ff;  
  /* --sidebar-color: ##B0E0E6;    */
  --toggle-color: #ddd;
  --text-color: #707070;

  /* =====Transition====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.body {
  /* height: 100vh; */
  background: var(--body-color);
  transition: var(--tran-02);
}

.body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;  
  --primary-color-light: #3a3b3c;  
  --toggle-color: #fff; 
  --text-color: #ccc;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

.btn{
  padding: 10px;
}
